################################################
###       environment config file            ###
################################################
SOURCE_DIR=./www


############# Container source.list ############
REPLACE_SOURCE_LIST=true


#################### Nginx #####################
NGINX_VERSION=1.15.7
NGINX_HTTP_HOST_PORT=80
NGINX_HTTPS_HOST_PORT=443
NGINX_CONFD_DIR=./conf/nginx/conf.d
NGINX_CONF_FILE=./conf/nginx/nginx.conf
NGINX_LOG_DIR=./log/nginx/


#################### PHP7 ####################
PHP_VERSION=7.1.27
PHP_XDEBUG=2.6.1
PHP_SWOOLE=4.2.1
PHP_REDIS=4.1.1
PHP_PHP_CONF_FILE=./conf/php/php.ini
PHP_FPM_CONF_FILE=./conf/php/php-fpm.conf
PHP_WWW_CONF_FILE=./conf/php/php-fpm.d/www.conf


#################### MySQL #####################
MYSQL_VERSION=5.7.25
MYSQL_HOST_PORT=3306
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATA_DIR=./mysql
MYSQL_CONF_FILE=./conf/mysql/mysql.cnf


#################### Redis #####################
REDIS_VERSION=5.0.4
REDIS_HOST_PORT=6379
REDIS_CONF_FILE=./conf/redis/redis.conf


